.container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .top-section {
    margin-bottom: 50px;
  }
  
  .top-image-component {
    width: 160px;
    height: 160px;
  }

  .text-component {
    margin-top: -50px;
    color: black;
    font-weight: bold;
    line-height: 15px;
    font-size: 14px;
  }