.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
margin-top: 3rem;
}

.header img {
  width: 160px;
  height: 30px;
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

}

.cername {
  font-size: 20px;
  color: #8a8a8a;
  text-align: center;
  font-family: Helvetica,Arial,sans-serif,arial,serif;
  padding-top: 1rem;
}

.cercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: flex-end;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.cerwrapper {
  width: 240px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.cerimage {
  width: 200px;
}

.viewmorebutton {
  width: 90px;
  height: 40px;
  background-color: white;
  border: 1px solid grey;
  font-size: 12px;
  font-weight: 600;
  color: grey;
  margin-top: 0%;
  cursor: pointer;
}