.img{
 margin-top: 10px;  
 
}

.sliderImage {
    width: 100%;
    height: auto;
  }

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: none;
  outline: none;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}