.ContainerProduct {
    margin-left: 9%; 
    margin-right: 9%; 
}
.ProductBannerImage{
    width: 100%;
    height: auto;
}
.ImageProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 180px;
}
@media (max-width: 603px) {
   .ImageProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: white;
}
}

.CenteredImage {
  max-width: 100%;
  max-height: 100%;
 
}
.Sub_Products_Image {
  max-width: 100%;
  max-height: 100%;
  padding-top: 10px;
  
}
.LogoImageOrient{
  width:250px;
  height: auto;
}

.Sub_Product {
  height: auto;
  width: 100vw;
  margin-top: 1rem;
  }

@media (max-width: 768px) {
    .Sub_Product {
        width: 100vw;
        height: auto;
    } 
}
 
.Container_Details{
  background-color:white;
}

.LeftviewStyle{
  text-align: left;
  font-size: 30px;
  font-weight: 400; 
  margin-top: 1rem
}