.ContainerProduct {
    margin-left: 9%; 
    margin-right: 9%; 
}
.ProductBannerImage{
    width: 100%;
    height: auto;
}
.ImageProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 100%;
}

.CenteredImage {
  max-width: 100%;
  max-height: 100%;
}
.Sub_Products_Image {
  max-width: 100%;
  max-height: 100%;
  padding-top: 10px;
  
}
.LogoImageOrient{
  width:250px;
  height: auto;
}

.Sub_Product {
  height: auto;
  width: 100vw;
  }

@media (max-width: 768px) {
    .Sub_Product {
        width: 100vw;
        height: auto;
    }
}
